/* ==========================================================================
   Layer
   ========================================================================== */

.layer{
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    /* pointer-event: none; */
    position: absolute;
    top: 0;
    width: 100%;
}
    .layer img{
        margin: auto auto;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

.layer.mask{
    background-image: url('/medias/images/mask.png');
    background-size: cover;
    -webkit-transform: translate3d(0%, -1%, 0px) scale(1.2) rotate(0.1deg);
    -moz-transform: translate3d(0%, -1%, 0px) scale(1.2) rotate(0.1deg);
    -ms-transform: translate3d(0%, -1%, 0px) scale(1.2) rotate(0.1deg);
    -o-transform: translate3d(0%, -1%, 0px) scale(1.2) rotate(0.1deg);
    transform: translate3d(0%, -1%, 0px) scale(1.2) rotate(0.1deg);
}

.layer.cover{
    background-image: url('/medias/images/cover.jpg');
    background-size: cover;
    -webkit-transform: translate3d(0, 0, -500px) scale(1.2) rotate(0.1deg);
    -moz-transform: translate3d(0, 0, -500px) scale(1.2) rotate(0.1deg);
    -ms-transform: translate3d(0, 0, -500px) scale(1.2) rotate(0.1deg);
    -o-transform: translate3d(0, 0, -500px) scale(1.2) rotate(0.1deg);
    transform: translate3d(0, 0, -500px) scale(1.2) rotate(0.1deg);
}

.layer.cats-up{
    background-image: url('/medias/images/cats-up.png');
    -webkit-transform: translate3d(0, 0, -1000px) scale(1.2) rotate(0.1deg);
    -moz-transform: translate3d(0, 0, -1000px) scale(1.2) rotate(0.1deg);
    -ms-transform: translate3d(0, 0, -1000px) scale(1.2) rotate(0.1deg);
    -o-transform: translate3d(0, 0, -1000px) scale(1.2) rotate(0.1deg);
    transform: translate3d(0, 0, -1000px) scale(1.2) rotate(0.1deg);
}

.layer.bow1{
    background-image: url('/medias/images/bow1.png');
    -webkit-transform: translate3d(0, 0, -1200px) scale(1.2) rotate(0.1deg);
    -moz-transform: translate3d(0, 0, -1200px) scale(1.2) rotate(0.1deg);
    -ms-transform: translate3d(0, 0, -1200px) scale(1.2) rotate(0.1deg);
    -o-transform: translate3d(0, 0, -1200px) scale(1.2) rotate(0.1deg);
    transform: translate3d(0, 0, -1200px) scale(1.2) rotate(0.1deg);
}

.layer.bow2{
    background-image: url('/medias/images/bow2.png');
    -webkit-transform: translate3d(0, 0, -1600px) scale(1.2) rotate(0.1deg);
    -moz-transform: translate3d(0, 0, -1600px) scale(1.2) rotate(0.1deg);
    -ms-transform: translate3d(0, 0, -1600px) scale(1.2) rotate(0.1deg);
    -o-transform: translate3d(0, 0, -1600px) scale(1.2) rotate(0.1deg);
    transform: translate3d(0, 0, -1600px) scale(1.2) rotate(0.1deg);
}

.layer.cats-check{
    background-image: url('/medias/images/cats-check.png');
    -webkit-transform: translate3d(0, 0, -2000px) scale(1.2) rotate(0.1deg);
    -moz-transform: translate3d(0, 0, -2000px) scale(1.2) rotate(0.1deg);
    -ms-transform: translate3d(0, 0, -2000px) scale(1.2) rotate(0.1deg);
    -o-transform: translate3d(0, 0, -2000px) scale(1.2) rotate(0.1deg);
    transform: translate3d(0, 0, -2000px) scale(1.2) rotate(0.1deg);
}

.layer.flowers1{
    background-image: url('/medias/images/flowers1.png');
    -webkit-transform: translate3d(0, 0, -2400px) scale(1.2) rotate(0.1deg);
    -moz-transform: translate3d(0, 0, -2400px) scale(1.2) rotate(0.1deg);
    -ms-transform: translate3d(0, 0, -2400px) scale(1.2) rotate(0.1deg);
    -o-transform: translate3d(0, 0, -2400px) scale(1.2) rotate(0.1deg);
    transform: translate3d(0, 0, -2400px) scale(1.2) rotate(0.1deg);
}

.layer.flowers2{
    background-image: url('/medias/images/flowers2.png');
    -webkit-transform: translate3d(0, 0, -2800px) scale(1.2) rotate(0.1deg);
    -moz-transform: translate3d(0, 0, -2800px) scale(1.2) rotate(0.1deg);
    -ms-transform: translate3d(0, 0, -2800px) scale(1.2) rotate(0.1deg);
    -o-transform: translate3d(0, 0, -2800px) scale(1.2) rotate(0.1deg);
    transform: translate3d(0, 0, -2800px) scale(1.2) rotate(0.1deg);
}

.layer.messages{
    -webkit-transform: translate3d(0, 0, -3800px) scale(1.2) rotate(0.1deg);
    -moz-transform: translate3d(0, 0, -3800px) scale(1.2) rotate(0.1deg);
    -ms-transform: translate3d(0, 0, -3800px) scale(1.2) rotate(0.1deg);
    -o-transform: translate3d(0, 0, -3800px) scale(1.2) rotate(0.1deg);
    transform: translate3d(0, 0, -3800px) scale(1.2) rotate(0.1deg);
}

    .layer.messages img{
        width: 100%;
    }
