/* ==========================================================================
   Scroll icon
   ========================================================================== */

.scroll-icon{
    margin: 85vh auto;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 41px;
    z-index: 5;
}
